@charset "UTF-8";

body,
div,
h2,
html,
img,
p,
span {
  border: 0;
  box-sizing: border-box;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

section {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  width: 100%;
}

body {
  color: #000;
  font-family: Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  line-height: 2;
  overflow-x: clip;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  width: 100%;
  word-break: break-word;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.l-inner {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {

  .l-inner {
    max-width: 600px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (min-width: 768px) {

  .l-inner {
    padding-left: 70px;
    padding-right: 70px;
  }

  .l-inner {
    max-width: 1160px;
  }
}

@media only screen and (max-width: 768px) {
  .l-section {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .l-section {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

.c-title {
  display: grid;
  line-height: 1.8;
}

.p-about__title p {
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .c-title {
    row-gap: 9px;
  }
}

@media only screen and (min-width: 768px) {
  .c-title {
    row-gap: 11px;
  }
}

.c-title.is-reverse {
  display: flex;
  flex-direction: column-reverse;
  gap: 0;
  text-align: center;
}

.c-title__en {
  line-height: 0;
  margin: 0 auto;
}

.c-title__en img {
  width: auto;
}

.c-title__jp {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .c-title__jp {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) {
  .c-title__jp {
    font-size: 32px;
  }
}

.c-title__jp>strong {
  background: linear-gradient(transparent 70%, #f1f7eb 0);
  color: #359467;
}

@media only screen and (max-width: 768px) {
  .c-title__jp>strong {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .c-title__jp>strong {
    font-size: 40px;
  }
}

.p-mv {
  background-color: #fff;
  position: relative;
  z-index: 999;
}

@media only screen and (min-width: 768px) {
  .p-about {
    overflow-x: clip;
    padding-top: 100px;
  }
}

.p-about__item {
  display: grid;
}

@media only screen and (max-width: 768px) {
  .p-about__item {
    margin-bottom: 20px;
    row-gap: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .p-about__item {
    align-items: center;
    gap: 28px 50px;
    grid-template-areas: "title img" "text img";
    margin-bottom: 56px;
  }

  .p-about__title {
    align-self: end;
    grid-area: title;
  }

  .p-about__text {
    align-self: start;
    grid-area: text;
    font-size: 16px;
    line-height: 1.7;
    width: 440px;
  }
}

.p-about__img {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .p-about__img {
    grid-area: img;
    width: min(260px, 460/1280 * 100vw);
  }
}

.p-about__bg {
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .p-about__bg {
    bottom: -20px;
    right: -16px;
    width: 200px;
    height: 100%;
  }

  .p-about__img {
    position: relative;
    width: 200px;
    height: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .p-about__bg {
    bottom: max(-15px, -56 / 1280* 100vw);
    right: max(-15px, -2.812vw);
  }
}

.p-issues {
  background-color: #f7f7f5;
  padding-top: 83px;
  filter: drop-shadow(0 14px 12px #00000036);
  position: relative;
  z-index: 1;
}

.p-issues__img {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p-issues__img {
    margin-top: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .p-issues__img {
    margin-top: 56px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .p-issues__img img {
    max-width: 375px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .p-issues__img img {
    max-width: 854px;
    margin: 0 auto;
  }
}

.p-support {
  position: relative;
}

.p-support:after {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  left: 50%;
  position: absolute;
  top: -1;
  translate: -50% 0;
  width: 360px;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .p-support:after {
    height: 36px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .p-support:after {
    background-color: #f7f7f5;
    height: 70px;
  }
}

.p-support__bg {
  position: relative;
}

.p-support__bg img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

@media only screen and (max-width: 768px) {
  .p-support__bg img {
    height: 220px;
  }
}

@media only screen and (min-width: 768px) {
  .p-support__bg img {
    height: 330px;
  }
}

.p-support__title-wrapper {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  translate: -50% 0;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .p-support__title-wrapper {
    padding-top: 26px;
  }
}

@media only screen and (min-width: 768px) {
  .p-support__title-wrapper {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 768px) {
  ._pc {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}







@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/earlyaccess/hannari.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Abel");

@font-face {
  font-family: 'Hannari';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Hannari.eot");
  src: url("../font/Hannari.eot?#iefix") format("embedded-opentype"), url("../font/Hannari.woff") format("woff"), url("../font/Hannari.ttf") format("truetype");
}

/* =============================================== */
/* reset */
/* =============================================== */
html,
body,
div,
h1,
h5,
p,
section,
img,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

body {
  line-height: 1;
}

section {
  display: block;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

h1,
h5 {
  font-weight: 200;
}


html,
body {
  width: 100%;
}

body {
  font-size: 1rem;
  line-height: 1;
  color: #333333;
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.05em;
  -webkit-text-size-adjust: none;
  position: relative;
  overflow-x: hidden;
}

img {
  width: 100%;
  vertical-align: top;
}


@media only screen and (max-width: 768px) and (max-device-width: 1280px) {
  .sp_br_reset {
    text-align: justify;
  }

  .sp_br_reset br {
    display: none;
  }
}

body {
  visibility: hidden;
}

body.ready {
  visibility: visible;
}


.w980 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {
  .w980 {
    width: 100%;
  }
}

.w900 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {
  .w900 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {

  .sp_pd20 {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.ttl_m {
  font-weight: bold;
  line-height: 1.7;
  letter-spacing: 0.12em;
  font-size: 34px;
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {
  .ttl_m {
    letter-spacing: 0.1em;
  }
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {
  .ttl_m {
    font-size: 2rem;
  }
}

.txt_m {
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.07em;
  font-size: 18px;
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {
  .txt_m {
    letter-spacing: 0.05em;
  }
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {
  .txt_m {
    font-size: 1.4rem;
  }
}

.ttl14 {
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.12em;
  font-size: 16px;
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {
  .ttl14 {
    letter-spacing: 0.1em;
  }
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {

  .sp_f18 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 374px) and (max-device-width: 1280px) {
  .sps_lh0 {
    letter-spacing: 0;
  }
}

.sec_ttl {
  text-align: center;
}

body.p_top .gray_base {
  text-align: center;
  background: #f2f2f2;
}

body.p_top .gray_base:before,
body.p_top .gray_base:after {
  content: '';
  display: block;
  margin: 0 20px;
}

body.p_top .gray_base:before {
  border-bottom: 2px solid #BBCC99;
  padding-top: 83px;
}

body.p_top .gray_base:after {
  border-top: 2px solid #BBCC99;
  padding-bottom: 83px;
  margin-top: 60px;
}

body.p_top .gray_base .sec_ttl {
  width: 600px;
  margin: 0 auto;
  padding: 50px 0 30px;
  border-bottom: 1px solid #cccccc;
}

body.p_top .gray_base .txt_main {
  margin-top: 25px;
}

body.p_top .gray_base .txt_main .txt_m {
  margin-top: 1em;
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {

  body.p_top .gray_base:before,
  body.p_top .gray_base:after {
    margin: 0 10px;
  }

  body.p_top .gray_base .sec_ttl {
    width: 75%;
    margin: 0 auto;
    padding: 30px 0 20px;
    border-bottom: 1px solid #cccccc;
  }
}

body.p_top #body_care {}

body.p_top #body_care .care_menu {
  margin: 40px auto 0;
  background: #fff;
  width: 850px;
  box-sizing: border-box;
  padding: 63px 94px;
}

body.p_top #body_care .care_menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
}

body.p_top #body_care .care_menu li {
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

body.p_top #body_care .care_menu .icon {
  width: 68px;
}

body.p_top #body_care .care_menu .txt_box {
  text-align: left;
  width: 200px;
}

body.p_top #body_care .care_menu .txt_box h5 {
  margin-top: -4px;
}

@media only screen and (max-width: 768px) and (max-device-width: 1280px) {
  body.p_top #body_care .care_menu {
    width: auto;
    padding: 0;
    margin: 30px 20px 70px;
  }

  body.p_top #body_care .care_menu ul {
    width: auto;
    display: block;
    padding: 20px 0;
    margin-bottom: 0;
  }

  body.p_top #body_care .care_menu li {
    display: block;
    width: auto;
    padding: 8px 25px;
    margin: 0;
  }

  body.p_top #body_care .care_menu .icon {
    margin: 0 auto;
  }

  body.p_top #body_care .care_menu .txt_box {
    width: auto;
  }

  body.p_top #body_care .care_menu .txt_box h5 {
    margin-top: 10px;
  }
}

body.p_top.animation_true .scrollAnim {
  -webkit-transform-style: preserve-3d;
}

body.p_top.animation_true ._vh {
  visibility: hidden;
  transition: visibility 0s 0s;
}

body.p_top.animation_true ._vh.animEnd {
  visibility: visible;
}

body.p_top.animation_true ._vh.animated {
  visibility: visible;
}

body.p_top.animation_true ._case_list {
  transform: scale(0.95);
  opacity: 0;
}

body.p_top.animation_true ._case_list.animated {
  transform: scale(1);
  opacity: 1;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body.p_top.animation_true ._care_menu_list {
  transform: scale(0.8);
  opacity: 0;
}

body.p_top.animation_true ._care_menu_list.animated {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




























html,
body,
div,
span,
h2,
h3,
p,
em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

.block .block__inner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  width: 100%;
  max-width: 976px;
  padding-top: 83px;
  padding-bottom: 83px;
}

@media screen and (max-width: 768px) {
  .block .block__inner {
    max-width: 100vw;
  }
}

.block.block--color-gray {
  background-color: #F6F6F6;
}

+.content-box {
  margin-top: 64px;
}

+.content-box2 {
  margin-top: 64px;
}

.content-box4 a:not(.button):not(.article-list2 > li a):not(.faq-list2 .faq-list2__item a):not(.tutor-card__link) {
  color: #00a7ea;
  text-decoration: underline;
}

.content-box4 a:not(.button):not(.article-list2 > li a):not(.faq-list2 .faq-list2__item a):not(.tutor-card__link):hover {
  text-decoration: none;
}

.heading {
  font-size: 32px;
  margin-top: -10px;
  margin-bottom: -10px;
  line-height: 1.625;
  font-weight: bold;
  font-weight: bold;
  line-height: 1.7;
  letter-spacing: 0.12em;
  font-size: 34px;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 30px;
    margin-top: -4px;
    margin-bottom: -4px;
    line-height: 1.25;
  }
}

.heading.heading--align-center {
  text-align: center;
}

.heading.heading--highlighter span {
  background: linear-gradient(transparent 60%, #dfead3 0, #e2f4d0 60%);
  padding: 0 8px 8px;
}

@media screen and (max-width: 768px) {
  .heading.heading--highlighter span {
    padding-bottom: 7px;
  }
}

@meda (max-width: 360px) {}

.price-plan {
  margin-top: 48px;
  padding: 0 8px;
}

@media screen and (max-width: 768px) {
  .price-plan {
    margin-top: 35px;
    padding: 0;
  }
}

.price-plan .price-plan__column {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .price-plan .price-plan__column {
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }
}

.price-plan .price-plan__column .price-plan__box {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .price-plan .price-plan__column .price-plan__box {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 448px;
  }
}

.price-plan .price-plan__column .price-plan__item:last-child {
  margin-right: 0;
}

.price-plan .price-plan__item {
  width: calc((100% - 0px * 1) / 1);
  margin: 0 30px 0 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .price-plan .price-plan__item {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .price-plan .price-plan__item:first-child {
    margin-top: 0;
  }
}

.price-plan .price-plan__box {
  border: 4px solid #359467;
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 48px;
}

@media screen and (max-width: 768px) {
  .price-plan .price-plan__box {
    margin-top: 0;
  }
}

.common .price-plan .price-plan__box {
  border-color: #359467;
}

.price-plan .price-plan__box .price-plan__box-inner {
  border: 1px solid #359467;
  box-sizing: border-box;
  text-align: center;
}

.common .price-plan .price-plan__box .price-plan__box-inner {
  border-color: #359467;
}

.price-plan .price-plan__header {
  background: #00a7ea;
  text-align: center;
  position: relative;
  padding: 10px 0 14px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .price-plan .price-plan__header {
    padding-top: 6px;
    padding-bottom: 11px;
  }
}

.common .price-plan .price-plan__header {
  background: #359467;
}

.price-plan .price-plan__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  position: relative;
  color: #fff;
  margin: 0;
}

.common .price-plan .price-plan__title {
  color: #fff;
}

.price-plan .price-plan__summary {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  background: #fff;
  display: inline-block;
  padding: 0 28px;
  border-radius: 40px;
}

.common .price-plan .price-plan__summary {
  color: #359467;
}

.price-plan .price-plan__price {
  font-size: 12px;
  line-height: 1.4166666667;
  text-align: center;
  margin: 45px 0 16px 0;
}

.price-font {
  margin-bottom: 45px;
  font-size: 16px;
  text-align: center;
}

.price-plan .price-plan__price em {
  font-size: 60px;
  font-weight: bold;
}

.price-plan .price-plan__price em span {
  font-size: 20px;
}

.price-plan .price-plan__notice {
  margin-top: 26px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .price-plan .price-plan__notice {
    margin-top: 20px;
  }
}

.price-plan .price-plan__notice p {
  line-height: 1.7142857143;
  margin: 0;
  font-size: 18px;
}

.price-plan .price-plan__text-bg {
  background: linear-gradient(#fff 0%, #fff 50%, #fff980 50%, #fff980 100%);
  display: inline-block;
  line-height: 1.4285714286;
}

body {
  color: #222;
  font-size: 14px;
  font-family: "-apple-system", "Hiragino Kaku Gothic ProN", "Ã¦Â¸Â¸Ã£â€šÂ´Ã£â€šÂ·Ã£Æ’Æ’Ã£â€šÂ¯",
    YuGothic, Meiryo, sans-serif;
  background: #f6f6f6;
}

p {
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: -5px;
  line-height: 1.625;
}

@media screen and (min-width: 768px) {
  body {
    content: "pc";
  }
}

@media screen and (min-width: 768px) and (max-width: 943px) {
  body {
    content: "tb";
  }
}

@media screen and (max-width: 768px) {
  body {
    content: "sp";
  }
}

#app.container {
  position: relative;
}



/* CTA */
@font-face {
  font-family: grandam;
  font-style: normal;
  font-weight: 400;
  src: url(https://storage.googleapis.com/studio-front/fonts/grandam.ttf) format("truetype")
}

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url(https://storage.googleapis.com/production-os-assets/assets/material-icons/1629704621943/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://storage.googleapis.com/production-os-assets/assets/material-icons/1629704621943/MaterialIcons-Regular.woff2) format("woff2"), url(https://storage.googleapis.com/production-os-assets/assets/material-icons/1629704621943/MaterialIcons-Regular.woff) format("woff"), url(https://storage.googleapis.com/production-os-assets/assets/material-icons/1629704621943/MaterialIcons-Regular.ttf) format("truetype")
}


.StudioCanvas>.sd {
  overflow: clip
}

a,
body,
div,
html,
p {
  border: 0;
  font-family: sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  color: #333;
  transition: .3s cubic-bezier(.4, .4, 0, 1);
  word-spacing: 1px
}

a:focus:not(:focus-visible),
summary:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none
}

button:focus:not(:focus-visible) {
  outline: none
}

a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

.sd {
  flex-wrap: nowrap;
  max-width: 100%;
  pointer-events: all;
  z-index: 0;
  -webkit-overflow-scrolling: touch;
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  position: relative
}

.sd::-webkit-scrollbar {
  display: none
}

.sd {
  transition-property: all, --g-angle, --g-color-0, --g-position-0, --g-color-1, --g-position-1, --g-color-2, --g-position-2, --g-color-3, --g-position-3, --g-color-4, --g-position-4, --g-color-5, --g-position-5, --g-color-6, --g-position-6, --g-color-7, --g-position-7, --g-color-8, --g-position-8, --g-color-9, --g-position-9, --g-color-10, --g-position-10, --g-color-11, --g-position-11
}

.sd[tabindex]:focus-visible {
  outline: 1px solid;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color
}

.image {
  position: relative
}

.image:before {
  background-position: 50%;
  background-size: cover;
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: inherit;
  width: 100%;
  z-index: -2
}

.sd.text {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: visible;
  overflow-wrap: anywhere;
  word-break: break-word
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, .15)
}

.link {
  cursor: pointer
}


.sd[data-s-66e5ee07-e9fb-47f8-96c6-d2ee282a96e5] {
  width: 100%;
}

@media screen and (max-width: 540px) {
  .sd[data-s-66e5ee07-e9fb-47f8-96c6-d2ee282a96e5] {
    background: #f6f6ee;
  }
}

.sd[data-s-734c8dce-e890-4bbd-8c3a-04c4f8220883] {
  align-content: center;
  align-items: center;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  padding: 100px 50px;
  width: 100%;
  max-width: 100%;
}

.sd[data-s-734c8dce-e890-4bbd-8c3a-04c4f8220883]:before {
  background-position: center bottom;
  filter: brightness(0.9);
}

@media screen and (max-width: 540px) {
  .sd[data-s-734c8dce-e890-4bbd-8c3a-04c4f8220883] {
    padding: 50px 20px;
  }
}

.sd[data-s-3efe2133-939a-45b1-9c90-af9358507bab] {
  color: #FFFFFF;
  font-family: var(--s-font-c88c9ad2);
  font-size: 28px;
  font-weight: 700;
  height: auto;
  line-height: 1.5;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .sd[data-s-3efe2133-939a-45b1-9c90-af9358507bab] {
    font-size: 20px;
  }
}

.sd[data-s-9c6952a8-4a5d-4433-83bf-7ad437b0c09b] {
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.0);
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  width: auto;
  max-width: 100%;
}

/* ボタン全体 */
.sd[data-s-2dd729ea-38bd-4684-8197-15b9d5fd0b18] {
  align-content: center;
  align-items: center;
  background: #8ec21f;
  border-radius: 80px;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  margin: 0 auto;
  padding: 28px 20px;
  width: 400px;
  max-width: 100%;
  display: flex;
  gap: 15px;
  transition: background 0.3s ease-in-out;
}

/* ボタンホバー時 */
.sd[data-s-2dd729ea-38bd-4684-8197-15b9d5fd0b18]:hover {
  background: #6c970f;
}

/* テキスト */
.sd[data-s-a0ad6688-54a5-4525-a830-1108fec8301a] {
  color: #FFFFFF;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* ボタンの右端の白い円 */
.arrow-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1.8px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

/* 三角形 */
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid #ffffff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

/* ホバー時に三角を緑に変更 */
.sd[data-s-2dd729ea-38bd-4684-8197-15b9d5fd0b18]:hover .triangle {
  border-left-color: #fff;
}

/* ホバー時に矢印を右へスライド */
.sd[data-s-2dd729ea-38bd-4684-8197-15b9d5fd0b18]:hover .arrow-circle {
  transform: translateX(5px);
}
































.sd[data-s-4712c85f-a611-4754-b9dd-6de0af2d18cd] {
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px;
  width: 100%;
  max-width: 100%;
}

.sd {
  flex-wrap: nowrap;
  max-width: 100%;
  pointer-events: all;
  z-index: 0;
  -webkit-overflow-scrolling: touch;
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  position: relative;
}

.sd[data-s-1a076c81-6c46-4082-8ad5-5218cf7d60ce] {
  align-content: center;
  align-items: center;
  background: #FFFFFF;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  width: 100%;
  max-width: 100%;
}

.sd[data-s-ef1f217e-32cd-4e52-bddc-609396be2f26] {
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  --gap-h-ef1f217e-32cd-4e52-bddc-609396be2f26: 10px;
  --gap-v-ef1f217e-32cd-4e52-bddc-609396be2f26: 0px;
  --gap-uuid: ef1f217e-32cd-4e52-bddc-609396be2f26;
  max-width: 100%;
}

.sd[data-s-adaed465-c9b2-4a12-8372-6578f2cd9dac] {
  color: #000000;
  font-family: var(--s-font-c88c9ad2);
  font-size: 11px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0px 0px 0px 0px;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

.sd.text {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: visible;
  overflow-wrap: anywhere;
  word-break: break-word;
}

@media screen and (max-width: 540px) {
  .sd[data-s-1a076c81-6c46-4082-8ad5-5218cf7d60ce] {
    padding: 20px 0px 30px 0px;
  }
}




















/* よくある質問 */
@charset "UTF-8";

body,
div,
h2,
h3,
html,
img,
p,
span {
  border: 0;
  box-sizing: border-box;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

section {
  display: block;
}

em {
  font-style: normal;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  width: 100%;
}

body {
  color: #000;
  font-family: Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  line-height: 2;
  overflow-x: clip;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  width: 100%;
  word-break: break-word;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.l-inner {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {

  .l-inner {
    max-width: 600px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (min-width: 768px) {

  .l-inner {
    padding-left: 40px;
    padding-right: 40px;
  }

  .l-inner {
    max-width: 1160px;
  }
}

@media only screen and (max-width: 768px) {
  .l-section {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .l-section {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

.c-title {
  display: grid;
  line-height: 1.8;
}

@media only screen and (max-width: 768px) {
  .c-title {
    row-gap: 9px;
  }
}

@media only screen and (min-width: 768px) {
  .c-title {
    row-gap: 11px;
  }
}

.c-title__en {
  line-height: 0;
}

.c-title__en img {
  width: auto;
}

.c-title__jp {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .c-title__jp {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) {
  .c-title__jp {
    font-size: 32px;
  }
}

.p-faq {
  background: #f7f7f5;
}

.p-faq__title {
  text-align: center;
}

.p-faq__items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .p-faq__items {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .p-faq__items {
    margin-top: 56px;
  }
}

.p-faq__question {
  align-items: center;
  background: #fff;
  display: flex;
  font-weight: 700;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .p-faq__question {
    -moz-column-gap: 16px;
    column-gap: 16px;
    font-size: 16px;
    height: 68px;
    padding: 10px 40px 10px 16px;
  }
}

@media only screen and (min-width: 768px) {
  .p-faq__question {
    -moz-column-gap: 28px;
    column-gap: 28px;
    font-size: 18px;
    height: 82px;
    padding: 16px 32px;
  }
}

.p-faq__question>span {
  color: #118755;
  font-family: Helvetica Neue, Arial, sans-serif;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .p-faq__question>span {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .p-faq__question>span {
    font-size: 28px;
  }
}

@media (any-hover: hover) {
  .p-faq__question:hover {
    cursor: pointer;
  }
}

.p-faq__question:after {
  background: url(img/icon-faq.svg) 50%/cover no-repeat;
  content: "";
  position: absolute;
  top: 50%;
  transition: rotate .3s;
  translate: 0 -50%;
}

@media only screen and (max-width: 768px) {
  .p-faq__question:after {
    height: 8px;
    right: 16px;
    width: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .p-faq__question:after {
    height: 10px;
    right: 32px;
    width: 20px;
  }
}

.p-faq__answer {
  display: none;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .p-faq__answer {
    padding: 20px 16px 0;
  }
}

@media only screen and (min-width: 768px) {
  .p-faq__answer {
    padding: 20px 32px 0;
  }
}

.p-faq__answer>em {
  color: #118755;
  font-weight: 700;
}

.js-accordion.is-open+.p-faq__answer {
  display: block;
  opacity: 1;
}


@media only screen and (max-width: 768px) {

  .p-support:after {
    background-color: initial;
    height: initial;
  }

  .p-issues {
    background-color: #f7f7f5;
    padding-top: 45px;
    filter: drop-shadow(0 14px 12px #00000036);
    position: relative;
    z-index: 1;
  }

  .block .block__inner {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  body.p_top .gray_base:after {
    border-top: 2px solid #BBCC99;
    padding-bottom: 45px;
    margin-top: 30px !important;
  }

  body.p_top #body_care .care_menu .txt_box h5 {
    margin-top: 10px;
    text-align: center;
  }

  p.p-about__text {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  .solution-text-area__text {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  .txt_m {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  .price-plan .price-plan__notice p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.7;
  }

  body.p_top #body_care .care_menu {
    width: auto;
    padding: 0;
    margin: 20px 20px 20px;
  }
}




@media (max-width: 425px) {
  .solution__right {
    width: 100%;
    margin: 0 auto;
  }

  .solution__item {
    display: block;
    background-color: #fff;
    padding: 30px 15px 20px 15px;
    text-align: center;
  }

  .solution__heading-m-strong {
    font-size: 160%;
    display: block;
  }
}




@media only screen and (max-width: 320px) {
  .sd[data-s-a0ad6688-54a5-4525-a830-1108fec8301a] {
    color: #FFFFFF;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}